@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Shabnam;
  src: url("../fonts/Shabnam.ttf") format("truetype");
}

@layer utilities {
  .container {
    @apply max-w-7xl px-3;
  }
}

@layer components {
  .website-logo {
    font-family: "Dancing Script", cursive;
  }
  .loader-spinner {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  .product-card {
    @apply bg-secondaryLight dark:bg-secondaryDark rounded-md justify-center items-center shadow-sm p-3 my-4 hover:scale-105 hover:shadow-md duration-200;
  }
  .product-details-tab {
    @apply flex justify-center py-2 px-3 rounded-lg cursor-pointer shadow-sm;
  }
  .main-container {
    @apply min-h-[600px];
  }
  .box {
    @apply border-2 border-green-400 rounded-lg;
  }
  .add-cart-button {
    @apply cursor-pointer border border-gray-200 dark:border-secondaryDark ml-3 px-3 py-1 dark:hover:bg-shadeDark hover:bg-shadeLight rounded-md;
  }
  .add-cart-single {
    @apply cursor-pointer border border-gray-200 dark:border-secondaryDark ml-3 px-3 py-1 dark:hover:bg-shadeDark hover:bg-shadeLight rounded-md;
  }
  .show-cart-button {
    @apply cursor-pointer border border-gray-200 dark:border-secondaryDark px-3 py-1 dark:hover:bg-shadeDark hover:bg-shadeLight rounded-md;
  }
  .nav-button {
    @apply cursor-pointer border border-gray-200 dark:border-secondaryDark dark:hover:bg-shadeDark hover:bg-shadeLight p-3 rounded-md;
  }
  .social-links {
    @apply cursor-pointer px-2 py-1 text-gray-800 dark:text-white border border-gray-200 dark:border-secondaryDark dark:hover:bg-shadeDark hover:bg-shadeLight rounded-md;
  }
  .feature-box {
    @apply bg-secondaryLight dark:bg-secondaryDark flex flex-col items-center justify-center text-center py-6 rounded-md shadow-sm  hover:scale-105 duration-200 xsm:w-full md:w-[20%] xsm:items-center xsm:justify-center;
  }
  .list-item {
    @apply pr-5;
  }
  .footer-item {
    @apply text-sm text-gray-500 dark:text-gray-400 hover:text-green-400 dark:hover:text-green-200 duration-150 cursor-pointer;
  }
  .farsi-text {
    direction: rtl;
  }
  .divider {
    @apply border-b border-gray-200 dark:border-secondaryDark;
  }
}

body {
  @apply font-shabnam bg-primaryLight dark:bg-primaryDark text-textDark dark:text-textLight;
}
